/* RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

.headerContainer{
  display: flex;
  width: 100%;
  background-color: rgb(0, 132, 255);
  border-bottom: 0.5px solid black;
  padding: 10px;
}

.headerTitle{
  margin-right: 20rem;
  font-size: 40px;
}

.searchBox{
  width: 45rem;
  height: 2.5rem;
  margin-right: 3rem;
  border-radius: 20px;
  padding: 15px;
}

.searchButton{
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin-right: 1rem;
}

.navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-decoration: none;
  margin-right: 4rem;
}

.notifications{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.requests, .messages, .alerts{
  width: 30px;
  height: 30px;
}

/* CONTENT */

.Content{
  display: flex;
}

/* SIDE LINKS */

.linksContainer{
  height: 100vh;
  border: 1px solid black;
}

.linksNavigation{
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 3rem;
  padding: 2rem;
  width: 20vw;
  font-size: larger;
}

.editButton{
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: large;
  font-weight: bold;
  box-shadow: 1px 1px 2px
}

.linksLine{
  position: relative;
  width: 100%;
  box-shadow: 1px 1px 2px;
}

.linksLine::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  right: 30px;
  border-top: 1px solid black;
  transform: translateY(-50%);
}

.links{
  text-decoration: none;
  color: black;
}

.links:hover{
  background-color: rgb(0, 132, 255);
  color: white;
}

/* MAIN CONTENT */

.profileBackground{
  background-image: url(/public/img/vecteezy_natural-landscape-of-green-field-with-ai-generated_22697991.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 80vw;
  height: 30vh;
}

.profileImage{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
  margin-top: -8rem;
  background-color: whitesmoke;
}

.profileImageContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* FEED */

.socialFeed{
  width: 100%;
  border: 1px solid black; 
}