/* RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

.headerContainer{
  display: flex;
  width: 100%;
  background-color: rgb(0, 132, 255);
  padding: 10px;
}

.headerTitle{
  margin-right: 20rem;
  font-size: 40px;
}

.searchBox{
  width: 45rem;
  height: 2.5rem;
  margin-right: 5rem;
  border-radius: 20px;
  padding: 15px;
}

.searchButton{
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin-right: 1rem;
}

.navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-decoration: none;
}