/* RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background-color: whitesmoke;
  height: fit-content;
}

/* HEADER */

.headerContainer{
  display: flex;
  width: 100%;
  background-color: rgb(0, 132, 255);
  border-bottom: 0.5px solid black;
  padding: 10px;
}

.headerTitle{
  margin-right: 20rem;
  font-size: 40px;
  color: white;
  letter-spacing: 1px;
}

.searchBox{
  width: 45rem;
  height: 2.5rem;
  margin-right: 3rem;
  border-radius: 20px;
  padding: 15px;
}

.searchButton{
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin-right: 1rem;
}

.navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-decoration: none;
  margin-right: 4rem;
}

.notifications{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.requests, .messages, .alerts{
  width: 35px;
  height: 35px;
  font-size: 25px;
  color: white;
  background-color: transparent;
  border: none;
}

.requests:hover, .messages:hover, .alerts:hover{
  cursor: pointer;
  color: rgb(204, 204, 204)
}

.filteredResults{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  left: 45vw;
  top: 7vh;
  background-color: rgba(255, 255, 255, 0.874);
  width: 20vw;
  border: 1px solid black;
  padding: 1rem;
  z-index: 1;
}

.foundAccounts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.filteredImage{
  width: 80px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: whitesmoke;
  padding: 1rem;
}

.filteredName{
  font-size: larger;
}

/* CONTENT */

.Content{
  display: flex;
}

.middleContentContainer{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.innerContent{
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

button:hover{
  cursor: pointer;
}

/* SIDE LINKS */

.linksContainer{
  height: 100vh;
  border: 1px solid black;
  background-color: white;
}

.linksNavigation{
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 1rem;
  padding: 2rem;
  width: 20vw;
  font-size: larger;
}

.editButton{
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: large;
  font-weight: bold;
  box-shadow: 1px 1px 2px;
  background-color: rgb(0, 132, 255);
  color: white;
}

.linksLine{
  position: relative;
  width: 100%;
  box-shadow: 1px 1px 2px;
}

.linksLine::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  right: 30px;
  border-top: 1px solid black;
  transform: translateY(-50%);
}

.links{
  text-decoration: none;
  color: black;
  height: 60px;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.links:hover{
  background-color: rgba(245, 245, 245, 0.852);
}

/* PROFILE */

.profileBackground{
  background-image: url(/public/img/vecteezy_natural-landscape-of-green-field-with-ai-generated_22697991.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 80vw;
  height: 30vh;
}

.profileImage{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
  margin-top: -8rem;
  background-color: whitesmoke;
  background-image: url(/public/img/AEprofile.avif);
  background-position: center;
  background-size: 100% 100%;
}

.profileImageContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.profileName{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 5rem;
}

.userInformation{
  display: flex;
  gap: 1rem;
  margin-left: -4rem;
}

.profileTitle{
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
}

.profileTitle, .userIntro{
  padding-right: 3rem;
}

.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* FEED */

.socialFeed{
  max-width: 45vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border: 1px solid black;
  box-shadow: 1px 1px 5px;
  padding: 1.5rem;
  margin-left: 2rem;
  margin-top: 2rem;
  background-color: white;
}

.newPostContainer{
  display: flex;
  width: 100%;
  gap: 2rem;
}

.newPostImage{
  width: 130px;
  height: 110px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: whitesmoke;
}

.newPostText{
  width: 100%;
  height: 100px;
  padding: 1rem;
}

.newPost{
  width: 100%;
  height: 100px;
  padding: 1rem;
  margin-top: -1rem;
  margin-left: -1rem;
  border: none;
  border-bottom: 1px solid black;
  font-size: large;
}

.uploadLinks{
  display: flex;
  gap: 4rem;
  align-items: center;
  margin-top: -1rem;
}

.post{
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(2, 131, 58);
  font-size: medium;
  color: whitesmoke;
  font-weight: bolder;
  margin-left: 1rem;
}

.postsFeed{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 1px 1px 5px;
  margin-left: 2rem;
  margin-top: 1rem;
  height: 100%;
  background-color: white;
}

.newFeed{
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  gap: 0.5rem;
  border: 1px solid black;
  box-shadow: 1px 1px 2px;
  padding: 10px;
}

.socialLinks{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  font-weight: bold;
  color: black;

}

/* ACCOUNTS */

.innerAccountsContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  max-width: max-content;
  margin-right: 2rem;
}

.connectedAccountsContainer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
  border: 1px solid black;
  padding: 2rem;
  box-shadow: 1px 1px 5px;
  margin-top: 1.9rem;
  background-color: white;
}

.accountsHeader{
  width: 100%;
  text-align: center;
  font-style: italic;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}

/* LINKED ACCOUNTS */

.linkedAccounts{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  background-color: white;
}

.linkedAccountsHeader{
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.linkedAccountsImg{
  width: 70px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: whitesmoke;
}

.linkedAccountsName{
  font-size: large;
  font-style: oblique;
  letter-spacing: 2px;
  width: 90%;
  text-align: end;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
}

.connectedAccountsContainer1{
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.connectedAccountsOuterContainer1{
  width: 95%;
  border-radius: 5px;
}

.connectedAccountsOuterContainer1:hover{
  background-color: rgba(245, 245, 245, 0.852);
}